body {
  font-family: Helvetica, Calibri, sans-serif;
}
svg {
  font: 10px sans-serif;
}
path.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

text, textPath {
  white-space: nowrap;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
}


#visitsChart{


}


#convChart{


}


#pages {
  td {
    padding-right: 20px;
  }
}