body, input {
  font-family: Helvetica, Calibri, sans-serif;
}
body, section, svg {
  width: 800px;
  margin: auto;
}
svg {
  font: 10px sans-serif;
  display: block;
  width: auto;
}
path.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

text, textPath {
  white-space: nowrap;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
}



#overall-controls {
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: solid 1px silver;
  border-top: solid 1px silver;

  #country-controls {
    float: left
  }
  #date-controls {
    text-align: right;
    float: right;
  }

  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
}


.chart-container{

  h2 {
    text-align: center;
    margin:0;padding: 0;
    -webkit-transform: translateX(-49%) rotate(90deg) translateX(200px);
  }

  .controls, .chart {
    -webkit-transform: translateX(10px)
  }

  .controls {
    > span {
      padding-right: 10px;
      label {
        padding-left: 4px;
        display: inline-block;
        -webkit-transform: translate3d(0,2px,0);
      }
    }
  }
}

.pages-container {
  margin-top: 20px;
  text-align: center;
  #pages {
    display: inline-table;
    text-align: left;
    td {
      padding-right: 20px;
    }
  }
}