body, input {
  font-family: Helvetica, Calibri, sans-serif;
}
svg {
  font: 10px sans-serif;
}
path.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

text, textPath {
  white-space: nowrap;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
}


#visitsChart{


}


#convChart{


}

#overall-controls {
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: solid 1px silver;
  border-top: solid 1px silver;

  #country-controls {
    float: left
  }
  #date-controls {
    text-align: right;
    float: right;
  }

  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
}
#pages {
  td {
    padding-right: 20px;
  }
}