<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <script src="javascript/libs/jquery2.js"></script>
        <script src="javascript/libs/d3.js"></script>
        <script src="javascript/libs/underscore.js"></script>
        <script src="charts/page-perf/stacked-area-time-series-chart.js"></script>
        <script src="charts/page-perf/chart.js"></script>
        <link href="charts/page-perf/chart.css" type="text/css" rel="stylesheet" />
    </head>
<body>
    <h1><%= title %></h1>
    <section id="chart">

    </section>
</body>
</html>