<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <script src="javascript/libs/jquery2.js"></script>
        <script src="javascript/libs/d3.js"></script>
        <script src="javascript/libs/underscore.js"></script>
        <script src="charts/page-perf/stacked-area-time-series-chart.js"></script>
        <script src="charts/page-perf/multi-line-time-series-chart.js"></script>
        <link href="charts/page-perf/chart.css" type="text/css" rel="stylesheet" />
    </head>
<body>
    <h1><%= title %></h1>
    <section id="overall-controls">
        <div id="country-controls">
            <input type="text" value="Qatar"/>
        </div>
        <div id="date-controls">
            <input type="date" id="fromDate"/> -
            <input type="date" id="toDate"/>
        </div>
    </section>
    <section id="visits-chart">
        <div class='controls'></div>
        <div class='chart'></div>
    </section>


    <section id="conv-chart">
        <div class='controls'></div>
        <div class='chart'></div>
    </section>
    <table id="pages">
        <thead>
            <tr>
                <td>ID</td><td>Name</td><td>Visits</td><td>Subs</td><td>Conv</td>
            </tr>
        </thead>
    </table>

    <script src="charts/page-perf/chart-area.js"></script>
</body>
</html>