<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <script src="javascript/libs/jquery2.js"></script>
        <script src="javascript/libs/d3.js"></script>
        <script src="javascript/libs/underscore.js"></script>
        <script src="charts/page-perf/stacked-area-time-series-chart.js"></script>
        <script src="charts/page-perf/multi-line-time-series-chart.js"></script>
        <link href="charts/page-perf/chart.css" type="text/css" rel="stylesheet" />
    </head>
<body>
    <h1><%= title %></h1>
    <div id="chart-controls">

    </div>
    <section id="chart">

    </section>
    <div id="convChart-controls">

    </div>
    <section id="convChart">

    </section>
    <table id="pages">
        <tbody></tbody>
    </table>

    <script src="charts/page-perf/chart-area.js"></script>
</body>
</html>