body {
  font-family: Helvetica, Calibri, sans-serif;
  position: relative;
  background: black;
  color: #ffffff;
}
h1 {
  text-align: left;
  opacity: .5;
  margin-bottom: 1em;
}
#chart svg {
  background-color: black;
}
#chart .node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  text-shadow: 0px 1px 4px white;
}
#chart .node.bad rect {
  fill: #51FC00 !important;
  stroke: yellow;
}
#chart text {
  cursor: default;
}
#overalls {
  float: left;
}
#overalls #submethodDevice-conv-chart line.dev,
#overalls #submethodDevice-visits-chart line.dev,
#overalls #device-visits-bysubmethods-chart line.dev {
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 2px;
}
#overalls #submethodDevice-conv-chart rect.dev,
#overalls #submethodDevice-visits-chart rect.dev,
#overalls #device-visits-bysubmethods-chart rect.dev {
  fill: rgba(255, 255, 255, 0.5);
}
#overalls #submethodDevice-conv-chart .axis path,
#overalls #submethodDevice-visits-chart .axis path,
#overalls #device-visits-bysubmethods-chart .axis path,
#overalls #submethodDevice-conv-chart .axis line,
#overalls #submethodDevice-visits-chart .axis line,
#overalls #device-visits-bysubmethods-chart .axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}
#overalls #submethodDevice-conv-chart text,
#overalls #submethodDevice-visits-chart text,
#overalls #device-visits-bysubmethods-chart text {
  fill: white;
  font-size: 12px;
}
#timeseries {
  float: right;
  width: 800px;
}
#timeseries #visitsAndSubsOvertime-chart,
#timeseries #visitsAndSubsOvertime-charts .chart {
  position: relative;
}
#timeseries #visitsAndSubsOvertime-chart h3,
#timeseries #visitsAndSubsOvertime-charts .chart h3 {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-transform: translate(50%, 13px) rotateZ(90deg) translate(51px, 12px);
  color: rgba(126, 126, 126, 0.69);
}
#timeseries #visitsAndSubsOvertime-chart .axis text,
#timeseries #visitsAndSubsOvertime-charts .chart .axis text {
  fill: #c0c0c0;
}
#timeseries #visitsAndSubsOvertime-chart .axis path,
#timeseries #visitsAndSubsOvertime-charts .chart .axis path {
  stroke: #c0c0c0;
}
#timeseries #visitsAndSubsOvertime-chart rect.bar,
#timeseries #visitsAndSubsOvertime-charts .chart rect.bar {
  fill: rgba(13, 118, 41, 0.33);
}
#timeseries #visitsAndSubsOvertime-chart .line,
#timeseries #visitsAndSubsOvertime-charts .chart .line {
  stroke: green;
  fill: rgba(0, 0, 0, 0);
}
#timeseries #visitsAndSubsOvertime-chart text,
#timeseries #visitsAndSubsOvertime-charts .chart text {
  fill: gray;
  font-size: 10px;
}
#timeseries #visitsAndSubsOvertime-chart .tick line,
#timeseries #visitsAndSubsOvertime-charts .chart .tick line {
  stroke: rgba(128, 128, 128, 0.43);
}
[data-tooltip] {
  text-align: left;
  min-width: 200px;
  padding: 10px 10px;
  font: 1em;
  color: black;
  background: #deded5;
  border: 0px;
  border-radius: 8px;
}
.sortable-list {
  /*
    user-select prevents the contents of your
    list items from being selectable by the cursor
  */

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sortable-list li {
  padding: 6px;
  float: left;
  margin-right: 25px;
}
#chart {
  width: 1200px;
}
.controls {
  width: 1200px;
  text-align: left;
  border-bottom: solid 1px silver;
  padding-bottom: .5em;
  margin-bottom: .5em;
}
.controls:after {
  content: ' ';
  display: block;
  clear: both;
  float: none;
}
.controls select {
  float: left;
  display: inline-block;
}
.controls > div {
  float: left;
}
.controls .groupby {
  float: left;
  display: inline-block;
  background-color: rgba(54, 16, 1, 0.83);
  border-radius: 20px;
}
.controls .groupby #groupbys-bin,
.controls .groupby #groupbys {
  height: 20px;
  padding: 0 0 0 1px;
  margin: 0;
  font-size: .7em;
  width: 193px;
  float: left;
}
.controls .groupby #groupbys-bin li,
.controls .groupby #groupbys li {
  margin: .2em .2em;
  float: left;
  list-style-type: none;
  background-color: #361001;
  padding: 0px 8px 0 0;
  line-height: 1.5em;
  text-align: center;
  display: inline-block;
  min-width: 77px;
  border-radius: 3px;
}
.controls .groupby #groupbys-bin li:before,
.controls .groupby #groupbys li:before {
  content: '>';
  padding: 0 8px;
  background-color: #4b1601;
  display: inline-block;
  text-align: left;
  padding-right: 8px;
  border-radius: 3px;
}
.controls .groupby #groupbys-bin {
  border-left: dashed 1px silver;
}
