<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <script src="javascript/libs/jquery2.js"></script>
        <script src="javascript/libs/d3.js"></script>
        <script src="javascript/libs/colorberewer.js"></script>
        <script src="javascript/libs/d3-helper-tooltip.js"></script>
        <script src="javascript/libs/underscore.js"></script>
        <script src="javascript/libs/jquery.sortable.js"></script>
        <script src="javascript/libs/require.js"></script>


        <script src="charts/devicedet-controls/treemap-zoomable.js"></script>
        <link href="charts/devicedet-controls/chart.css" type="text/css" rel="stylesheet" />


    </head>
<body>
    <h1><%= title %></h1>
    <section id="overall-controls">
        <div id="country-controls">
            <select name="country">
            </select>
        </div>
        <div id="date-controls">
            <input type="date" id="fromDate" min="2013-07-01" max="2013-10-05"/> -
            <input type="date" id="toDate" min="2013-07-01" max="2013-10-04"/>
        </div>
    </section>
    <section class="controls">
        <select id="submethods"></select>
        <div class="groupby">
            <ul id="groupbys" style="display: block">
            </ul>
            <ul id="groupbys-bin" class="sortable-list">
                <li draggable="true" data-groupby='brand_name'>brand_name</li>
                <li draggable="true" data-groupby='device_os'>device_os</li>
            </ul>
        </div>
        <div class="treefy">
            <input type="checkbox" id="treefy" checked />
            <label for="treefy">Treefy</label>
        </div>
        <div class="collectLongTail">
            <input type="checkbox" id="collectLongTail" checked />
            <label for="collectLongTail">Collect Long Tail</label>
        </div>
    </section>
    <div id="chart-container">

    </div>

    <section id="timeseries">
        <section id="visitsAndSubsOvertime-chart">

        </section>
        <section id="visitsAndSubsOvertime-charts">

        </section>
    </section>

    <section id="overalls">
        <section id="submethodDevice-conv-chart">
            <h2>Conversion Comparison</h2>
            <div class="overall-controls">
                <input type="checkbox" id="onlyConvertingDevices" />
                <label for="onlyConvertingDevices">Compare with only converting devices</label>
            </div>
        </section>
        <section id="device-visits-bysubmethods-pie"></section>
        <section id="device-visits-bysubmethods-chart"></section>
        <section id="submethodDevice-visits-chart">
            <h2>Visits Comparison</h2>
        </section>
    </section>

    <script src="charts/devicedet-controls/chart.js"></script>
</body>
</html>