<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <script src="javascript/libs/jquery2.js"></script>
        <script src="javascript/libs/d3.js"></script>
        <script src="javascript/libs/d3-helper-tooltip.js"></script>
        <script src="javascript/libs/underscore.js"></script>
        <script src="javascript/libs/jquery.sortable.js"></script>
        <script src="charts/devicedet/treemap-zoomable.js"></script>
        <link href="charts/devicedet/chart.css" type="text/css" rel="stylesheet" />

        <script src="charts/grouped-bars/grouped-bars.js"></script>
        <link href="charts/grouped-bars/chart.css" type="text/css" rel="stylesheet" />
    </head>
<body>
    <h1><%= title %></h1>
    <section class="controls">
        <select id="submethods"></select>
        <div class="groupby">
            <ul id="groupbys" style="display: block">
            </ul>
            <ul id="groupbys-bin" class="sortable-list">
                <li draggable="true" data-groupby='brand_name'>brand_name</li>
                <li draggable="true" data-groupby='device_os'>device_os</li>
            </ul>
        </div>
        <div class="treefy">
            <input type="checkbox" id="treefy" checked />
            <label for="treefy">Treefy</label>
        </div>
        <div class="collectLongTail">
            <input type="checkbox" id="collectLongTail" checked />
            <label for="collectLongTail">Collect Long Tail</label>
        </div>
    </section>
    <section id="chart"></section>

    <section id="submethodDevice-conv-chart"></section>
    <section id="submethodDevice-visits-chart"></section>

    <script src="charts/devicedet/chart.js"></script>
</body>
</html>