<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <script src="/modules-test/libs/require.js"></script>
        <script src="/javascript/libs/jquery2.js"></script>
    </head>
    <body>
        <h1><%= title %></h1>

        <script src="/modules-test/main/index.js"></script>
    </body>
</html>