body {
  font-family: Helvetica, Calibri, sans-serif;
  position: relative;
}
.node {
  border: solid 1px white;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  text-shadow: 0px 1px 4px white;
}
.n {
  font-size: 12px;
}
.n,
.c {
  text-align: center;
}
.n.v {
  -webkit-transform: translateX(-44%) rotateZ(90deg) translateX(29%);
}
.c.v {
  -webkit-transform: translateX(-44%) rotateZ(90deg) translateX(110%);
  text-align: left;
}
text {
  cursor: default;
}
[data-tooltip] {
  text-align: center;
  min-width: 200px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
}
