<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <script src="javascript/libs/jquery2.js"></script>
        <script src="javascript/libs/d3.js"></script>
        <script src="javascript/libs/underscore.js"></script>
        <script src="charts/treemap/treemap.js"></script>
        <script src="charts/treemap/chart.js"></script>
        <link href="charts/treemap/chart.css" type="text/css" rel="stylesheet" />
    </head>
<body>
    <h1><%= title %></h1>
    <section id="chart"></section>
</body>
</html>