<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <script src="javascript/libs/jquery2.js"></script>
        <script src="javascript/libs/underscore.js"></script>
        <script src="javascript/libs/d3.js"></script>
        <script src="charts/multi-time-series-chart.js"></script>
        <script src="charts/multi/chart.js"></script>
        <link href="charts/multi/chart.css" type="text/css" rel="stylesheet" />
    </head>
<body>
    <h1><%= title %></h1>
    <section id="chart1"></section>
    <section id="chart2"></section>
</body>
</html>