<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <script src="javascript/libs/jquery2.js"></script>
        <script src="javascript/libs/d3.v2.js"></script>
        <script src="javascript/libs/underscore.js"></script>
        <script src="javascript/libs/nv.d3.1a.js"></script>
        <script src="charts/nv-page-perf/chart.js"></script>
        <link href="javascript/libs/nv.d3.css" type="text/css" rel="stylesheet" />
        <link href="charts/nv-page-perf/chart.css" type="text/css" rel="stylesheet" />
    </head>
<body>
    <h1><%= title %></h1>
    <section id="chart">

    </section>
</body>
</html>