<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <script src="/javascript/libs/require.js"></script>
        <script src="/javascript/libs/jquery2.js"></script>
        <script src="/javascript/libs/d3.js"></script>
        <script src="/javascript/libs/underscore.js"></script>
        <script src="/charts/wap-uas/wap-uas.js"></script>
    </head>
<body>
    <h1><%= title %></h1>

</body>
</html>