<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <script src="javascript/libs/jquery2.js"></script>
        <script src="javascript/libs/d3.js"></script>
        <script src="javascript/libs/d3-helper-tooltip.js"></script>
        <script src="javascript/libs/underscore.js"></script>
        <script src="charts/grouped-bars/grouped-bars.js"></script>
        <link href="charts/grouped-bars/chart.css" type="text/css" rel="stylesheet" />
    </head>
<body>
    <h1><%= title %></h1>

    <section id="chart"></section>

    <script src="charts/grouped-bars/chart.js"></script>
</body>
</html>