body {
  font-family: Helvetica, Calibri, sans-serif;
}
svg {
  font: 10px sans-serif;
}
path.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}
.bar {
  fill: rgba(35, 100, 19, 0.3);
}
text,
textPath {
  white-space: nowrap;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
}
#visitsChart path.line {
  stroke: #0e0f71;
  stroke-width: 2px;
}
#visitsChart .axis.line text {
  fill: #0e0f71;
}
#visitsChart rect.bar {
  fill: rgba(13, 118, 41, 0.33);
}
#visitsChart .axis.bar text {
  fill: rgba(13, 118, 41, 0.33);
}
#convChart path.line {
  stroke: #71023b;
  stroke-width: 2px;
}
#convChart .axis.line text {
  fill: #71023b;
}
