svg {
  font: 10px sans-serif;
}
.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}
.bar {
  fill: rgba(35, 100, 19, 0.3);
}
text,
textPath {
  white-space: nowrap;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
